<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/stylesheets/pure-min.css">
  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
  <style>
    .l-box {
        padding: 1em;
    }
  </style>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17467863-1', 'nmdid.org');
    ga('send', 'pageview');

  </script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->
<div id="header_wrap">
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a href="/" class="pure-menu-heading">NMDID lab. Journals Club</a>
    <ul>
        <li><a href="//www.nmdid.org">home</a></li>
        <li><a href="//mail.nmdid.org">Mail</a></li>
        <li><a href="//calendar.nmdid.org">Calendar</a></li>
    </ul>
  </div>
</div>
<div id="main_content" class="pure-g-r">
  {{ content }}
</div>
<div class="footer_wrap">
  <div class="pure-g-r">
    <div class="pure-u-1-5">
      <p>NMDID Lab.</p>
    </div>
  </div>
</div>

</body>
</html>
